@import url('https://fonts.googleapis.com/css2?family=Alef:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-logo: 'Dancing Script', cursive;
  --font-body: 'Alef', sans-serif;

  --color-icon-tools: #03A9F4;
  --color-text-tools: #707070;

  --color-text-body: #4F4F4F;
}

.App {
  width: 100%;
  height: 100vh;
  overflow: hidden;

  font-family: var(--font-body);
  color: var(--color-text-body);

  display: flex;
  flex-direction: row;
  justify-content: center;
}

.left-container {
  width: 50%;
  background-image: url('./assets/signUpLeft.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;

  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-container .logo {
  font-family: var(--font-logo);
  font-size: 4rem;
  color: white;
  font-weight: 700;

  position: absolute;
  top: 25px;
  left: 40px;
}

.tools {
  width: 50%;
  margin: auto;
}

.tool {
  width: 100%;
  display: flex;
  flex-direction: row;
  text-align: center;

  background: white;
  padding: 8px 12px;
  border-radius: 20px;

  display: flex;
  justify-content: center;
  margin: 2.2rem 0;
  cursor: pointer;
}

.tool .icon {
  border-radius: 50%;
  font-size: 22px;
  margin-right: 10px;
  color: var(--color-icon-tools);
}

.tool p {
  font-family: var(--font-body);
  color: var(--color-text-tools);
}

.right-container {
  width: 50%;
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
}

.right-container .top-img {
  position: absolute;
  top: 0;
  right: 0;
}

.right-container .bottom-img {
  position: absolute;
  bottom: 0;
  left: 0;
}

.form {
  width: 50%;
}

.form h1, h2 {
  text-align: center;
}

.form h1 {
  font-size: 3.5rem;
  margin: 1rem 0;
}

.form h2 {
  font-size: 1.5rem;
  margin: 1rem 0;
  color: rgba(79, 79, 79, 0.8);
}

.form form {
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.inputs {
  display: flex;
  flex-direction: column;
}

.form form .elem {
  margin: 1rem 0;
}

.inputs input {
  padding: 8px 12px;
  border-radius: 5px;
  border: 1px solid #cacaca;
  font-family: inherit;
  box-shadow: 2px 4px rgba(202, 202, 202, 0.3);
}

.form form .check {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.form form .check input {
  margin-right: 1rem;
  cursor: pointer;
}

.form form button {
  padding: 8px 12px;
  border-radius: 20px;
  border: 1px solid var(--color-icon-tools);
  background-color: var(--color-icon-tools);
  cursor: pointer;
  color: white;
}


@media screen and (max-width: 1000px) {
  .App {
    flex-direction: column;
  }

  .left-container {
    width: 100%;
    height: 100vh;
  }

  .left-container .logo {
    font-size: 3rem;
  }

  .tools {
    width: 50%;
  }

  .right-container {
    width: 100%;
    height: 100vh;
  }
}